<div class="playlists">
  <scrollbar 
    on-touchstart="${ event.stopPropagation() }" 
    on-touchmove="${ event.stopPropagation() }"
  >
    <ul in="${ this.data }" class="playlists-list">
      <li 
        disabled="${ this.loopValue.isLoading }"
        on-click="${ this.selectPlaylist(this.loopValue) }" 
        class="${ this.loopIndex == 0 && this.highlight? 'active': '' }"
      >
        <tooltip message="${ this.loopValue._titleFull }">
          <span class="ellipsis title">${ this.loopValue._title }</span>
        </tooltip>
        <a
          hidden="${ this.loopValue.caching || this.loopValue.uncaching  || this.loopValue.cached == this.loopValue.songsLength }"
          href="javascript:;" 
          on-click="${ event.stopPropagation(); this.addCache(this.loopValue) }"
        >
          <i class="fa fa-arrow-down"></i>
        </a>
        <a
          hidden="${ this.loopValue.caching || this.loopValue.uncaching  || this.loopValue.cached != this.loopValue.songsLength }"
          class="active"
          href="javascript:;" 
          on-click="${ event.stopPropagation(); this.cachePlaylist(this.loopValue) }"
        >
          <i class="fa fa-arrow-down"></i>
        </a>
        <a
          hidden="${ this.loopValue.caching || this.loopValue.uncaching || (!this.loopValue.cached || this.loopValue.cached == this.loopValue.songsLength) }"
          href="javascript:;" 
          on-click="${ event.stopPropagation(); this.removeCache(this.loopValue) }"
        >
          <i class="fa fa-arrow-up"></i>
        </a>
        <a 
          hidden="${ !this.loopValue.caching && !this.loopValue.uncaching }"
          href="javascript:;" 
          on-click="${ event.stopPropagation(); this.cancelPlaylistCacheWorks(this.loopValue) }"
        >
          <i class="fa fa-spinner ${ this.loopValue.uncaching? 'fa-pulse': 'fa-spin' }"></i>
        </a>
        <a
          hidden="${ this.loopValue.isLoading }"
          class="playlist-remove"
          href="javascript:;" 
          on-click="${ event.stopPropagation(); this.removePlaylist(this.loopValue) }"
        >
          <i class="fa fa-times"></i>
        </a>
        <a hidden="${ !this.loopValue.isLoading }">
          <i class="fas fa-circle-notch fa-spin"></i>
        </a>        
      </li>
    </ul>
  </scrollbar>
</div>