<?xml version='1.0' encoding='utf-8'?>
<widget 
  id="com.museria.musiphone" 
  version="1.0.0" 
  xmlns="http://www.w3.org/ns/widgets" 
  xmlns:android="http://schemas.android.com/apk/res/android" 
  xmlns:cdv="http://cordova.apache.org/ns/1.0"
>
  <name>Musiphone</name>
  <description>
    Decentralized music player
  </description>
  <author email="mywebstreet@gmail.com" href="http://player.museria.com">
    Alexander Balasyan
  </author>
  <content src="index.html" />
  <access origin="*" />
  <allow-intent href="http://*/*" />
  <allow-intent href="https://*/*" />
  <allow-intent href="tel:*" />
  <allow-intent href="sms:*" />
  <allow-intent href="mailto:*" />
  <allow-intent href="geo:*" />
  <allow-navigation href="http://*/*" />
  <allow-navigation href="https://*/*" />
  <platform name="android">   
    <feature name="SocialSharing">
      <param name="android-package" value="nl.xservices.plugins.SocialSharing" />
    </feature>     
    <config-file target="AndroidManifest.xml" parent="/*">
      <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />
      <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
      <uses-permission android:name="android.permission.WAKE_LOCK" />
      <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    </config-file>
    <config-file target="AndroidManifest.xml" parent="./application/activity/[@android:name='MainActivity']">
      <intent-filter>
        <action android:name="android.intent.action.VIEW" />
        <category android:name="android.intent.category.DEFAULT" />
        <category android:name="android.intent.category.BROWSABLE" />
        <data android:scheme="http" android:host="*" android:pathPattern="/musiphone/.*" />              
      </intent-filter>
      <intent-filter>
        <action android:name="android.intent.action.VIEW" />
        <category android:name="android.intent.category.DEFAULT" />
        <category android:name="android.intent.category.BROWSABLE" />
        <data android:scheme="http" />
        <data android:scheme="https" />
        <data android:host="*" /> 
        <data android:mimeType="audio/x-mpegurl"/>
        <data android:mimeType="audio/mpegurl"/>
        <data android:mimeType="application/x-mpegurl"/>           
      </intent-filter>
      <intent-filter>
        <action android:name="android.intent.action.VIEW" />
        <category android:name="android.intent.category.DEFAULT" />
        <category android:name="android.intent.category.BROWSABLE" />
        <data android:scheme="http" />
        <data android:scheme="https" />
        <data android:host="*" /> 
        <data android:pathPattern=".*\\.m3u" />      
        <data android:pathPattern=".*\\.m3u8" />
      </intent-filter>            
    </config-file>
    <edit-config file="app/src/main/AndroidManifest.xml" mode="merge" target="/manifest/application">
      <application android:usesCleartextTraffic="true"/> 
      <application android:requestLegacyExternalStorage="true" />
      <application android:launchMode="singleInstance" />
    </edit-config>
    <allow-intent href="market:*" />
    <preference name="AndroidInsecureFileModeEnabled" value="true" />
    <preference name="AndroidLaunchMode" value="singleTask" />
    <preference name="AndroidPersistentFileLocation" value="Compatibility" />
    <preference name="AndroidExtraFilesystems" value="files,files-external,documents,sdcard,cache,cache-external,assets,root" />
    <preference name="SplashMaintainAspectRatio" value="true" />
    <preference name="SplashShowOnlyFirstTime" value="false" />
    <icon density="ldpi" src="res/icon/android/ldpi.png" />
    <icon density="mdpi" src="res/icon/android/mdpi.png" />
    <icon density="hdpi" src="res/icon/android/hdpi.png" />
    <icon density="xhdpi" src="res/icon/android/xhdpi.png" />
    <icon density="xxhdpi" src="res/icon/android/xxhdpi.png" />    
    <icon density="xxxhdpi" src="res/icon/android/xxxhdpi.png" />
    <preference name="AndroidWindowSplashScreenAnimatedIcon" value="res/icon.png" />
    <preference name="AndroidWindowSplashScreenBackground" value="#001A35" />
  </platform>
</widget>
