@import '../../styles/vars.scss';

.playlist {
  &-search {
    position: relative;
  
    & > i {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 0.8em;
      color: $light;
      font-size: 1em;
      z-index: 1;
    }
  
    & > input { 
      padding: 0 6.5em 0 2.5em;      

      &:focus {
        z-index: 0;
      }
    }

    &-info {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 1em;
      font-size: 0.9em;
      color: $cyan;
    }
  }

  &-list {
    list-style: none;
    outline: none;

    & > li {
      margin-top: 0.5em;
      outline: none;
    }

    .draggable-mirror .card {
      box-shadow: 0px 0px 4px 2px rgba(white, 0.8);
    }
  }  
}

