$blue: #009ae7;
$midnight: #3388d1;
$indigo: #6610f2;
$purple: #6f42c1;
$vanilla: #ddb8b2;
$pink: #e83e8c;
$red: #ff3333;
$orange: #e49733;
$yellow: #d7cf9b;
$green: #28a745;
$teal: #20c997;
$cyan: #a9dbf1;
$pale: #CCC;
$light: #999999;
$gray: #666666;
$dark: #292929;
$night: #001f36;
$latenight: #01162f;
$body-bg: #001a35;
$primary: $blue;
$secondary: #677a82;
$border-radius: 0.1rem;
$border-radius-lg: 0.1rem;
$border-radius-sm: 0.1rem;
$input-bg: $latenight;
$input-color: $light;
$input-border-color: $midnight;
$input-focus-border-color: $blue;
$input-focus-box-shadow: none;
$input-disabled-bg: $dark;
$custom-file-button-bg: $dark;
$custom-file-button-color: $light;

