@import '../../styles/vars.scss';

.song-card {
  & .card {
    box-shadow: 0px 0px 4px 2px rgba($night, 0.6);
    background: #00223f;
    border: 1px solid #004872;  
    cursor: pointer;
    
    &:hover {   
      box-shadow: 0px 0px 4px 2px rgba($blue, 0.8);
    }

    &.active {
      box-shadow: 0px 0px 4px 2px rgba($blue, 0.8);
    }

    &.failed {
      opacity: 0.5;
      border: 1px solid $red;
    }

    &-info {
      flex: 1; 
      min-width: 0;
    }

    &-title {
      max-width: 100%;
      font-size: 0.85em;
      font-weight: bold;
      margin-bottom: 0.1em;
      color: $cyan;
    }

    &-image {
      $width: 2.75em;
      $height: 2.75em;    
      position: relative; 
      width: $width; 
      height: $height;
      background: $night;
    
      & > i {
        color: lighten($cyan, 10%);
        font-size: 1.3em;
        opacity: 0.5;
        position: absolute; 
        left: 47%; 
        top: 50%;
        transform: translate(-50%, -50%); 
        z-index: 0;
      }
    
      & > *:not(i) {
        width: $width; 
        height: $height; 
        background-size: cover !important;
        background-position: center center !important;
        position: absolute;
        z-index: 1;
      }
    }

    &-buttons {
      padding-right: 0.6em;
      font-size: 1.35em;

      & a {
        color: $blue;
        text-decoration: none;
        opacity: 0.5;

        &:not(:last-child) {
          margin-right: 0.2em;
        }

        &:hover {
          opacity: 0.9;
        }

        &.active {
          opacity: 1;
        }

        &.silent {
          opacity: 1;
          cursor: default;
        }
      }
    }
  }    
}
