{
  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "sourceType": "module"
  },
  "globals": {
    "API_ADDRESS": true,
    "device": true,
    "cordova": true,    
    "workStorage": true,
    "Media": true,
    "FileTransfer": true,
    "MusicControls": true
  }
}